.dark-tiles {
    filter: invert(100%) hue-rotate(180deg) brightness(95%) contrast(90%);
    box-shadow: rgb(30 30 30) 0px 0px 36px 10px inset, 0px 4px 6px rgba(30 30 30);
}

.map-container {
    mask-image: radial-gradient(
            ellipse at center,
            black 75%,
            transparent 100%
    );
    -webkit-mask-image: radial-gradient(
            ellipse at center,
            black 75%,
            transparent 100%
    );
}

.map-fade {
    position: absolute;
    inset: 0;
    pointer-events: none;
    box-shadow: inset 0 0 40px rgba(0, 0, 0, 0.5);
}