.card-glow-container {
    --start: 0;
    position: relative;
    border-radius: 12px;
}

.card-glow-container::before {
    content: '';
    position: absolute;
    inset: 0;
    border-radius: 14px;
    border: 2px solid transparent;
    background: var(--gradient);
    background-attachment: fixed;
    mask: linear-gradient(#0000, #0000),
    conic-gradient(
            from calc((var(--start) - 22) * 1deg),
            #ffffff1f 0deg,
            white,
            #ffffff00 100deg
    );
    mask-composite: intersect;
    mask-clip: padding-box, border-box;
    opacity: 0;
    transition: 0.5s ease;
    pointer-events: none;
}

.card-glow-container:hover::before {
    opacity: 0.6;
}

.card-glow {
    pointer-events: none;
    position: absolute;
    inset: 0;
    border-radius: 12px;
    filter: blur(24px);
    opacity: 0;
    transition: 1s ease;
}
:root {
    --gradient: conic-gradient(
            from 90deg at 50% 50%,
            rgb(255, 224, 0),
            rgb(255, 255, 255),
            rgb(255, 224, 0),
            rgb(252, 255, 255),
            rgb(255, 224, 0),
            rgb(255, 255, 255),
            rgb(255, 224, 0)
    );
}

.card-glow::before {
    content: '';
    position: absolute;
    inset: 1%;
    border-radius: 14px;
    border: 10px solid transparent;
    background: var(--gradient);
    background-attachment: fixed;
    mask: linear-gradient(#0000, #0000),
    conic-gradient(
            from calc((var(--start) - 22) * 1deg),
            #ffffff1f 0deg,
            white,
            #ffffff00 100deg
    );
    mask-composite: intersect;
    mask-clip: padding-box, border-box;
}

.card-glow-container:hover .card-glow {
    opacity: 1;
}
/* glowing effect*/

@keyframes breathing-y {
    0%, 100% {
        box-shadow: inset 0 0 5px rgb(255, 224, 0);
    }
    50% {
        box-shadow: inset 0 0 35px rgb(255, 224, 0);
    }
}

.breathing-yellow {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    z-index: 1;
    animation: breathing-y 3s linear infinite;
}

@keyframes breathing-r {
    0%, 100% {
        box-shadow: inset 0 0 5px red;
    }
    50% {
        box-shadow: inset 0 0 35px red;
    }
}

.breathing-red {
    width: 100%;
    height: 100%;
    /*position: absolute;*/
    z-index: 1;
    animation: breathing-r 3s linear infinite;
}

@keyframes breathing-g {
    0%, 100% {
        box-shadow: inset 0 0 5px #84fd49;
    }
    50% {
        box-shadow: inset 0 0 35px #84fd49;
    }
}

.breathing-green {
    width: 100%;
    height: 100%;
    z-index: 1;
    animation: breathing-g 3s linear infinite;
}

.hero-glow {
    position: absolute;
    width: 600px;
    height: 600px;
    background: radial-gradient(
            circle,
            rgba(0, 128, 255, 0.8) 0%,
            transparent 70%
    );
    filter: blur(100px);
    top: 0;
    left: 0;
    z-index: 0;
}